.cart-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 20px;
}

.ci-dish-price {
  color: rgb(69, 68, 68);
  font-weight: bold;
}

.cart-item-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-item-image {
  width: 150px;
  height: 150px;

  border-radius: 4px;
}

.cart-item-details h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
}

.cart-item-details p {
  margin: 0;
  color: #666;
}

.cart-item-right {
  display: flex;
  flex-direction: column;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;

  flex-direction: row;
  justify-content: space-between;

  background-color: green;
  color: #ffffff;
  width: 100px;
  height: 30px;
  padding: 0 10px;
  font-size: 20px;
  border-radius: 10px;
}

.cart-item-quantity-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;

  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  font-size: 24px;
}

.remove-item-btn {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: 1px solid green;
  border-radius: 4px;
  cursor: pointer;
  color: green;
}

.remove-item-btn:hover {
  background-color: #e9ecef;
}
